{{> menu active="about"}}

<section class="section">
  <h1 class="title">Section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>


<section class="section">
  <div class="box">
        <p class="title is-5">Flexible column</p>
        <p class="subtitle">This column will take up the remaining space available.</p>
        {{>icons/headphones}}
    </div>
</section>
