<section class="box has-text-centered">
  <h3 class="is-3 title">
    Latest Weather Reading From OpenWeather API
  </h3>
  <div class="section">
    {{> add-api}}
    {{> list-api-coords}}
  </div>
<section class="section">
        <script>
          const data = {
            labels: [
              {{#each group.lighthouse.lightHeight}}
                "{{this}}",
              {{/each}}
            ],
            datasets: [
              {
                name: "Temperature", type: "line",
                values: [
                  {{#each group.lighthouse.lightHeight}}
                    {{this}},
                  {{/each}}
                ]
              }
            ]
          }

          const chart = new frappe.Chart("#chart", {
            title: "Temperature Trend From API Reading",
            data: data,
            type: 'line',
            height: 250,
          })
        </script>
        {{> map }}
</section>