{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{group.title}}
    </div>
    {{> list-lighthouses}}
    {{> add-lighthouse}}
  </div>
  <div class="column">
   {{> lighthouse-image }}
  </div>
</section>