<form class="box" action="/api/{{group._id}}/postweather/{{lighthouse._id}}" method="POST">
  <label>Genearate API:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" name="latitude" type="double" placeholder="52.1624" name="{{lighthouse.latitude}}">
      </div>
      <div class="field">
        <input class="input" name="longitude" type="double" placeholder="-7.1524" name="{{lighthouse.longitude}}">
      </div>
  </div>
  <button class="button is-primary">Get Weather</button>
</form>

