<form class="box" action="/group/{{group._id}}/addlighthouse" method="POST">
  <label>Enter Lighthouse Features:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="double" placeholder="Enter Tower Height" name="towerHeight">
      </div>
      <div class="field">
        <input class="input" type="double" placeholder="Enter Light Height" name="lightHeight">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Character" name="character">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Daymark" name="daymark">
      </div>
      <div class="field">
        <input class="input" type="double" placeholder="Enter Range" name="range">
      </div>
      <div class="field">
        <input class="input" type="double" placeholder="52.1624" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="double" placeholder="-7.1524" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Lighthouse</button>
</form>