<form action="/dashboard/addgroup" method="POST">
  <div class="field">
    <label class="label">Lighthouse Group Title</label> 
    <input class="input" type="text" placeholder="Enter Lighthouse name" name="title">
  </div>
  <button class="button is-link">Add Playlist</button>
</form>